<h6>HTML show</h6>

<dl>
  <dt> <%= Subsidiary.human_attribute_name(:name) %> </dt>
  <dd> <%= @subsidiary.name %> </dd>
  <dt> <%= Subsidiary.human_attribute_name(:cnpj) %> </dt>
  <dd> <%= @subsidiary.cnpj %> </dd>
  <dt> <%= Subsidiary.human_attribute_name(:address) %> </dt>
  <dd> <%= @subsidiary.address %> </dd>
</dl>  

<%=link_to "Voltar", subsidiaries_path %>
<%=link_to "Editar", edit_subsidiary_path(@subsidiary)%>
<%=link_to "Apagar filial", @subsidiary,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a filial?' }%>