<h6>HTML show</h6>
<p> <%= @subsidiary.name %> </p>
<p> <%= @subsidiary.cnpj %> </p>
<p> <%= @subsidiary.address %> </p>

<%=link_to "Voltar", subsidiaries_path %>
<%=link_to "Editar", edit_subsidiary_path(@subsidiary)%>
<%=link_to "Apagar filial", @subsidiary,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a filial?' }%>