<h1>Rental Cars</h1>


<p>Bem vindo ao sistema de gestão de locação</p>

<%= link_to 'Fabricantes', manufacturers_path %>
<%= link_to 'Filiais', subsidiaries_path %>
<%= link_to 'Categorias carros', carcategories_path %>
<%= link_to 'Clientes', customers_path %>

<h5> <%= I18n.localize Time.now, format: :long %> </h5>