<h6>HTML show</h6>

<dl>
  <dt>Nome:</dt>
  <dd> <%= @customer.name %> </dd>
  <dt>CPF:</dt>
  <dd> <%= @customer.cpf %> </dd>
  <dt>E-mail</dt>
  <dd> <%= @customer.email %> </dd>
</dl>
<%=link_to "Voltar", customers_path %>
<%=link_to "Editar", edit_customer_path(@customer)%>
<%=link_to "Apagar cliente", @customer,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar o cliente?' }%>