<h6>HTML show</h6>

<dl>
  <dt> <%= Customer.human_attribute_name(:name) %> </dt>
  <dd> <%= @customer.name %> </dd>
  <dt> <%= Customer.human_attribute_name(:cpf) %> </dt>
  <dd> <%= @customer.cpf %> </dd>
  <dt> <%= Customer.human_attribute_name(:email) %> </dt>
  <dd> <%= @customer.email %> </dd>
</dl>
<%=link_to "Voltar", customers_path %>
<%=link_to "Editar", edit_customer_path(@customer)%>
<%=link_to "Apagar cliente", @customer,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar o cliente?' }%>