<h6>form render:new e edit <h6>


<%if @car_category.errors.full_messages.any? %>
  <p>Não foi possível salvar, verifique os erros abaixo: </p>
  <%@car_category.errors.full_messages.each do |erro| %>
    <p> <%= erro %> </p>
  <% end %>
  <% end %>  



<%= form_for( @car_category , local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field(:name) %>
  <%= f.label :daily_rate %>
  <%= f.number_field :daily_rate %>
  <%= f.label :insurance %>
  <%= f.number_field :insurance %>
  <%= f.label :third_insurance %>
  <%= f.number_field :third_insurance%>
  <%= f.submit('Enviar') %>
<% end %>