<%= flash[:notice]%>
<h6>HTML index</h6>
<h1>Locações</h1>

<%if @rentals.empty?%>
  <h3>Nenhum registro cadastrado</h3>
<% end %>  

<% @rentals.each do |rental| %>
  <dl>
    <dt> <%= Rental.human_attribute_name(:customer) %>: </dt>
    <dd> <%= link_to "#{rental.customer.identification}", rental_path(rental) %> </dd>
    <dt> <%= Rental.human_attribute_name(:car_category) %>: </dt>
    <dd> <%= rental.car_category.name %> </dd>
    <dt> <%= Rental.human_attribute_name(:start_date) %>: </dt>
    <dd> <%= rental.start_date %> </dd>
    <dt> <%= Rental.human_attribute_name(:end_date) %>: </dt>
    <dd> <%= rental.end_date %> </dd>
  </dl>
<% end %>    

<%= link_to  "Voltar", root_path %>
<%= link_to "Registar locação", new_rental_path %>