<h6>HTML show</h6>

<h1> <%= @rental.customer.identification %>
<dl>
  <dt>Código:</dt>
  <dd> <%= @rental.code %>
  <dt> <%= Rental.human_attribute_name(:start_date) %> </dt>
  <dd> <%= l @rental.start_date, format: :default  %> </dd>
  <dt> <%= Rental.human_attribute_name(:end_date)%> </dt>
  <dd> <%= l @rental.end_date, format: :default  %> </dd>
  <dt> <%= Rental.human_attribute_name(:car_category)%> </dt>
  <dd> <%=  @rental.car_category.name %>
  <dt> status </dt>
  <dd> <%=  t @rental.status %> </dd>
  <br>
  <% if @rental.scheduled?%>
    <%= link_to 'Iniciar Locação', start_rental_path(@rental.id) %> 
  <% end %>  
<dl>

<% if @rental.ongoing? %>
  <h2> Dados da locação </h2>
  <dl>
    <dt>Carro retirado </dt>
    <dd> <%= @rental.car_rental.car.description %>
    <dt>Usuário responsável </dt>
    <dd> <%= @rental.car_rental.user.email %>
    <dt>Horário da retirada </dt>
    <dd> <%= l @rental.car_rental.start_date, format: :custom %>
    <dt>Valor da Diária </dt>
    <dd> <%=number_to_currency @rental.car_rental.daily_rate %>
  </dl>


  <h2> Acessórios Contratados </h2>
  <% if @rental.car_rental.add_ons.empty? %>
    <h3> Nenhum acessório adicional contratado </h3>
  <% end %>  

  <% @rental.car_rental.add_ons.each do |add_on| %>
    <%= add_on.name%>
  <% end %>   
<% end %>
<br>
<br>
<% if @rental.ongoing? %>
  <%= link_to 'Encerrar Locação', end_car_rental_path(@rental.id) %>
<% end %>

<%= link_to "Voltar", rentals_path %>
<!--
<%= link_to "Editar", edit_rental_path%>
<%= link_to "Apagar", @rental,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a Categoria?' }%> 
-->              