<h6>HTML show</h6>

<h1> <%= @rental.customer.identification %>
<dl>
  <dt> <%= Rental.human_attribute_name(:start_date) %> </dt>
  <dd> <%= l @rental.start_date, format: :default  %> </dd>
  <dt> <%= Rental.human_attribute_name(:end_date)%> </dt>
  <dd> <%= l @rental.end_date, format: :default  %> </dd>
  <dt> <%= Rental.human_attribute_name(:car_category)%> </dt>
  <dd> <%=  @rental.car_category.name %>
<dl>

<%= link_to "Voltar", rentals_path %>
<%= link_to "Editar", edit_rental_path%>
<%= link_to "Apagar", @rental,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a Categoria?' }%>