<h6> HTML show </h6>
<h1> <%= @carcategory.name %> </h1>
<dl>
  <dt>Diária:</dt>
  <dd> <%=  number_to_currency @carcategory.dialyrate %> </dd>
  <dt>Seguro:</dt>
  <dd> <%= number_to_currency @carcategory.insurance%> </dd>
  <dt>Seguro para terceiros:<dt>
  <dd> <%= number_to_currency @carcategory.thirdinsurance%> </dd>
</dl>  

<%=link_to "Voltar", carcategories_path %>
<%=link_to "Editar", edit_carcategory_path%>
<%=link_to "Apagar Categoria", @carcategory,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a Categoria?' }%>