<h6> HTML show </h6>
<p> <%= @carcategory.name %> </p>
<p> <%= @carcategory.dialyrate %> </p>
<p> <%= @carcategory.insurance%> </p>
<p> <%= @carcategory.thirdinsurance%> </p>

<%=link_to "Voltar", carcategories_path %>
<%=link_to "Editar", edit_carcategory_path%>
<%=link_to "Apagar Categoria", @carcategory,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar a Categoria?' }%>