<h6>HTML show</h6>

<h1> <%= @car.car_model.name %> </h1>
<dl>
  <dt> <%= Car.human_attribute_name(:license_plate) %> </dt>
  <dd> <%=  @car.license_plate %> </dd>
  <dt> <%= Car.human_attribute_name(:color) %> </dt>
  <dd> <%= @car.color%> </dd>
  <dt> <%= Car.human_attribute_name(:mileage) %> <dt>
  <dd> <%= @car.mileage%> </dd>
</dl>  

<%= link_to "Voltar", cars_path %>
<%= link_to "Editar", edit_car_path%>
<%= link_to "Apagar",@car,
              method: :delete,
              data: { confirm: 'Deseja realmente apagar ?'}%>
